<?xml version="1.0"?>
<launch>
  <node name="map_server" pkg="map_server" type="map_server" args="$(find racecar_gazebo)/map/race2.yaml" />

  <!--使用amcl进行定位-->
  <include file="$(find racecar_gazebo)/launch/racecar_amcl.launch">
    <rosparam file= "$(find racecar_gazebo)/config/amcl_params.yaml)"/>
  </include>


  <!-- Launch the built-map -->
  <!--Launch the move base with time elastic band-->
  <param name="/use_sim_time" value="true"/>
  
  <!-- 运行move_base节点 -->
  <!-- *******teb******* -->
  <include file="$(find racecar_gazebo)/launch/teb_base.launch"/>
  <!-- *******dwa******* -->
  <!-- <include file="$(find racecar_gazebo)/launch/dwa_base.launch"/> -->
  <!-- *******final******* -->
  <!-- <include file="$(find racecar_gazebo)/launch/final_base.launch"/> -->
  <!--rviz-->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find racecar_gazebo)/config/racecar_rviz.rviz"/>
  <!--可视化路径-->
  <!-- <node pkg="racecar_gazebo" type="visualize_path.py" name="visualize_path" /> -->
  
  <!-- ************cmd_vel变换输出************ -->
  <!-- <node name="servo_commands" pkg="racecar_gazebo" type="servo_commands.py" /> -->
  <node name="curvature_cal" pkg="racecar_gazebo" type="curvature_cal.py" />
	<!-- 比赛计时器 -->
  <node pkg="racecar_gazebo" type="race_timer.py" name="race_timer" output="screen"/>
</launch>
